<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317727880913-cpkmoe6n3b54kl6h8dumjmhkvh7p8gid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317727880913-cpkmoe6n3b54kl6h8dumjmhkvh7p8gid</string>
	<key>API_KEY</key>
	<string>AIzaSyAxTxDnBFe-Q2U3cvu_1dTN2StnfFTnn3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>317727880913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appMenuMakanan</string>
	<key>PROJECT_ID</key>
	<string>dppb-tubes</string>
	<key>STORAGE_BUCKET</key>
	<string>dppb-tubes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317727880913:ios:867d8762412000288ef7f0</string>
</dict>
</plist>